header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    color: white;
    background-color: #141D2F;
    z-index: 2;
    /* Weitere Stile wie Hintergrundfarbe, Textfarbe etc. */
}

.slide-menu {
    position: fixed;
    top: 85px;
    right: 0;
    width: 100%; // Sie können die Breite anpassen
    height: 100vh;
    background: #414856;
    z-index: 100;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    

    a {
        margin-top: 100px;
        text-decoration: none;
        color: #FFFFFF;
        font-size: 23px;

        &:hover {
            color: #FA7902;
        }
    }
}

.header-link {
    display: none;
    a {
        text-decoration: none;
        color: #FFFFFF;
        margin-left: 32px;

        &:hover {
            color: #FA7902
        }
    };
}

.header-name {
    /* Stil für den Namen, z.B. Schriftgröße, Schriftfarbe, Abstände etc. */
    font-size: 40px;
    display: flex;
    font-weight: bold;
    margin-left: 32px;
    cursor: pointer;

    .first-letter {
        color: #FF4747; /* Erste Buchstabe Farbe (rot) */

    }
    
    .brackets {
        color: #FA7902; /* Geschwungene Klammern Farbe (grün) */
        margin-left: 6px;
        font-size: 35px;
        
    }
}

.header-menu {
    /* Stil für das Hamburger-Menü, z.B. Größe, Farbe, Abstände etc. */
    margin-right: 32px;
    
    
}

@media screen and (min-width: 768px) {

    .header-menu {
        img {
            display: none;
        }
    }
    .header-link {
        display: flex;
    }

    
}

@media screen and (min-width: 1000px) {
    .header-link {
        
        a {
            font-size: 23px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .header-link {
        
        a {
            font-size: 28px;
        }
    }
    .header-menu {
        /* Stil für das Hamburger-Menü, z.B. Größe, Farbe, Abstände etc. */
        margin-right: 94px;
    }
    
    .header-name {
        margin-left: 94px;
    }
}

@media screen and (min-width: 2500px) {
    header {
        height: 140px;
    }
    .header-name {
        font-size: 70px;
        .brackets {
            font-size: 65px;
        }
    }
    .header-menu {
        .header-link {
            a {
                font-size: 40px;
            }
        }
    }
}