<div class="footer-container">
    <div class="logo-container">
        <span class="first-letter">V</span>rebo <span class="brackets">{{ '{ }' }}</span>
    </div>
    <div class="footer-info">
        <p>© Abdulaziz Vrebo 2023</p>
    <div>
        <img src="../../assets/social-media-icons/github-desktop.png" alt="">
        <img src="../../assets/social-media-icons/email-desktop.png" alt="">
        <img src="../../assets/social-media-icons/linkedin-desktop.png" alt="">
    </div>
    <a href="#">Impressum</a>
    </div>
    
</div>