$logo-name: blue;

.footer-container {
    height: 380px;
    width: 100%;
    background-color: #141d2f;
    border-top: 4px solid #FA7902;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    p {
        font-size: 23px;
        
    }
    
    .scroll-back {
        position: absolute;
        top: -60px;
        right: 64px;
        
    }

   
}



.logo-container {
    font-size: 50px;
    display: flex;
    font-weight: bold;
    margin: 32px;

    

    

    .first-letter {
        color: #FF4747; /* Erste Buchstabe Farbe (rot) */

    }
    
    .brackets {
        color: #FA7902; /* Geschwungene Klammern Farbe (grün) */
        margin-left: 6px;
        font-size: 45px;
        
    }
}

.logo-impressum {
    .impr-responsive-1 {
        display: none;
    }
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    height: 150px;

    

    img {
        margin: 5px 15px;
        transition: transform 125ms ease-in-out; // Fügt eine sanfte Übergangseffekt hinzu, wenn die Größe geändert wird

                &:hover {
                    transform: scale(1.2); // Vergrößert das Bild auf 120% seiner ursprünglichen Größe
                }
    }

    .impr-responsive-2 {
        padding: 9px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        &:hover {
            color: #FA7902;
        }
    }


}

@media screen and (min-width: 280px) {
    .scroll-back {
        position: absolute;
        top: -60px;
        right: 24px;
        
    }
}

@media screen and (min-width: 1366px) {
    .footer-container {
        height: 380px;
    width: 100%;
    background-color: #141d2f;
    border-top: 4px solid #FA7902;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    .logo-container {
        margin-left: 64px;
        margin-bottom: auto;
        
    }

    .logo-impressum {
        display: flex;
        flex-direction: column;
        
        .impr-responsive-1 {
            display: block;
            margin-left: 64px;
            text-decoration: none;
            color: #FFFFFF;
            max-width: 50px;
            &:hover {
                color: #FA7902;
            }
        }
    }

    .footer-info {
        justify-content: center;
        margin-right: 64px;

        .impr-responsive-2 {
            display: none;
        }
    }

    
}