<div  class="footer-container">
    <a class="scroll-back" href="#header">
        <img [src]="imageSrc" alt="" (mouseover)="imageSrc = '../../assets/header.png/back-up-hover.png'" (mouseout)="imageSrc = '../../assets/header.png/back-up.png'">
    </a>
    <div class="logo-impressum">
        <div class="logo-container">
            <span class="first-letter">V</span>rebo <span class="brackets">{{ '{ }' }}</span>
        </div>
            <a  routerLink="/impressum" >Impressum</a>
    </div>
    <p>© Abdulaziz Vrebo 2023</p>
    <div class="footer-info">
        
    <div>
        <img src="../../assets/social-media-icons/github-desktop.png" alt="">
        <img src="../../assets/social-media-icons/email-desktop.png" alt="">
        <img src="../../assets/social-media-icons/linkedin-desktop.png" alt="">
    </div>
    <a class="impressum-none" routerLink="/impressum">Impressum</a>
    </div>
    
</div>