<div id="skill-route" class="about-me-container">
  <div class="background-shadow"></div>
  <div class="about-me-inner-container">
    <h2>About me</h2>
    <p>
      Hi, I am Abdulaziz Vrebo, a front-end developer based in Freilassing,
      Germany. I specialize in creating web applications using JavaScript,
      TypeScript and Angular, combining my technical skills with a strong
      ability to work independently and take ownership of tasks.
    </p>
    <div>
      <div class="personal-things">
        <img src="../../assets/skills-photos/bulb.png" alt="" />
        <p>
          In my work, I've developed a variety of applications ranging from
          landing pages to complex web apps, such as an Angular-based Slack
          clone, a KanbanFlow app, and a Pokedex that utilizes APIs. I invite
          you to explore these projects below. Coding these applications not
          only honed my programming skills but also gave me valuable insights
          into the needs of users, helping me create more user-friendly and
          interactive experiences.
        </p>
      </div>

      <div class="personal-things">
        <img src="../../assets/skills-photos/puzzle.png" alt="" />
        <p>
          Throughout my coding journey, I've found value in collaboration and
          continuous learning. I've been part of several group projects,
          enhancing my team-working skills and understanding of software
          development in a team environment. As I continue to grow in this
          field, I look forward to expanding my horizons, contributing to
          cutting-edge projects, and making a meaningful impact.
        </p>
      </div>
    </div>
  </div>

  <div class="profil-photo-container">
    <div class="circle"></div>
    <div class="circle-line"></div>
  </div>
</div>
