.about-me-container{

    margin-left: 32px;
    margin-right: 32px;

    .about-me-inner-container {
        max-width: 670px;
    }
   
    
    .background-shadow {
        position: absolute;
        top: 650px;
        right: 0px;
        background-image: url(../../assets/shadows/puple-shadow.png);
        background-repeat: no-repeat;
        width: 200px;
        height: 100%;
        overflow: visibles;
        z-index: -1;
      }

    h2 {
        font-size: 45px;
        font-weight: 700;
    }

    .personal-things {
        display: flex;
        align-items: center;
        margin-bottom: 24px;

        img {
            width: 50px;
            height: 50px;
            margin-right: 32px ;
        }
    }
}

.profil-photo-container {
    
    display: none;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 0;

    .circle {
        
        width: 450px;
        height: 450px;
        border: 4px solid #FA7902;
        border-radius: 50%;
        box-sizing: border-box;
        background-image: url(../../assets/profil-photos/small-final-photo.png);
        background-size: cover;
      }

      .circle-line {
        
        left: 450px; /* 450px (Breite des Kreises) + 270px (Breite der Linie) */
        width: 270px;
        height: 4px;
        background-color: #FA7902;
      }
  }

  @media screen and (min-width: 768px) {
    .personal-things {
        img {
            transition: transform 125ms ease-in-out;

            &:hover {
                transform: scale(1.3); 
            }
        }
    }
  }
  @media screen and (min-width: 1366px) {

    .about-me-container{
        display: flex;

        

        .about-me-inner-container {
            max-width: 470px;
        }
    }

    

    .profil-photo-container {
        display: flex;
    }
    
    


    .about-me-container {
        .background-shadow {
            background-image: url(../../assets/shadows/shadow5.png);
            width: 300px;
            top: 900px
            
        }
    }
    
  }

  @media screen and (min-width: 1920px) {
    .about-me-container{
        
        .about-me-inner-container {
            max-width: 670px;

            
        }
    }
  }
 
  @media screen and (min-width: 2500px) {
    .about-me-container{
        align-items: center;
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 300px;
    
        .about-me-inner-container {
            max-width: 870px;
            
        }
       
        
        .background-shadow {
            position: absolute;
            top: 1050px;
            right: 0px;
            background-image: url(../../assets/shadows/puple-shadow.png);
            background-repeat: no-repeat;
            width: 200px;
            height: 100%;
            overflow: visibles;
            z-index: -1;
          }
    
        h2 {
            font-size: 65px;
            font-weight: 700;
        }

        p {
            font-size: 24px;
        }
    
        .personal-things {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
    
            img {
                width: 50px;
                height: 50px;
                margin-right: 32px ;
            }
        }
    }
  }
  
  
  
  
  

