.background-shadow-contact {
    position: absolute;
    top: 4370px;
    right: 0px;
    background-image: url(../../assets/shadows/lil-gree-shadow.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 500px;
    overflow: visibles;
    z-index: -1;
  }
.contact {
    display: flex;
    flex-direction: column;
    margin: 16px;

    .contact-description {

        max-width: 470px;

        h2 {
            font-size: 45px;
            margin-bottom: 0;
        }
    
        h4 {
            font-size: 23px;
        }
    
        a {
            text-decoration: none;
            color: #ffffff ;
            font-weight: 700;
        }
    }

    

    form {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        max-width: 610px;
        position: relative;

        
    
        .submitMessage {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 20%;
        }
    
        .submit-btn-container {
            width: 100%;
            margin-bottom: 60px;
    
            button {
                padding: 15px 30px;
                background-color: #FA7902;
                border: none;
                border-radius: 10px;
                color: #FFFFFF;
                font-size: 16px;
                transition: 225ms ease-in-out;
                cursor: pointer;
    
                &:hover {
                    padding: 15px 40px;
                    background-color: #ff4747;
                }
            }
        }
        .submitAnimation {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color: #141d2f, $alpha: 0.9);
            border-radius: 20px;

            div {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 25px;
                h3 {
                    color: green;
                }
                span {
                    margin-left: 32px;
                    margin-right: 32px;
                    color: green;
                    font-weight: 500;
                    text-align: center;
                }
            }
            
        }
    
        input, textarea {
            position: relative;
            padding: 15px 25px;
            border-radius: 10px;
            background-color: transparent;
            color: #FFFFFF;
            font-size: 16px;
    
            &::-webkit-input-placeholder {
                color: #FFFFFF;
            }
    
            &:focus::before {
                content: ''; 
                background-image: url('../../assets/form-valid-photo/incorrect.png');
                width: 20px;  
                height: 20px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                background-size: contain;
                background-repeat: no-repeat;
            }
    
            &:valid {
                border: 2px solid green;
            }
    
            &:valid::after {
                content: ''; 
                background-image: url('../../assets/form-valid-photo/correct.png');
                width: 20px;
                height: 20px;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    
        input {
            margin-top: 28px;
            border: 1px solid #FF4747;
        }
    
        textarea {
            margin: 28px 0;
            border: 1px solid #FF4747;
            font-family: 'Poppins', sans-serif;
        }
    }
}

.d-none {
    display: none;
}

@keyframes slideAndRotate {
    0% {
        transform: translateY(100%) rotateX(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0) rotateX(0deg);
        opacity: 1;
    }
}

.slideRotateAnimation {
    animation-name: slideAndRotate;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}





@media screen and (min-width: 768px) {
    .contact {
        form {
            .submit-btn-container {
                button {
                    font-size: 23px;
                }
            }
        }
    }
    
    
}

@media screen and (min-width: 1366px) {

    .contact {
        display: flex;
        margin: 28px;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;

        .contact-description {

            max-width: 470px;
    
            h2 {
                font-size: 90px;
                margin-bottom: 0;
            }
        
            h4 {
                font-size: 32px;
            }
        
            a {
                text-decoration: none;
                color: #ffffff ;
                font-weight: 700;
            }
        }
    }

    form {
        min-width: 620px;
    }
    
}

@media screen and (min-width: 1666px) {
    .contact {
        form {
            min-width: 820px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .contact {
        form {
            min-width: 1020px;
        }
    }
}

@media screen and (min-width: 2500px) {
    .contact {
        
        .contact-description {
            max-width: 700px;
            h2 {
                font-size: 120px;
            }
            h4 {
                font-size: 44px;
            }
            p {
                font-size: 24px;
            }
        }
        form {
            min-width: 1220px;
        }
    }
}