<div class="background-shadow-contact"></div>

<div class="contact">
  <h2>Contact</h2>
  <h4>Got a problem to solve?</h4>
  <p>
    Contact me through this form, I am interested in hearing you, knowing your
    ideas and contributing to your projects with my work.
  </p>
  <p>Need a Frontend developer? <a href="#">Contact me!</a></p>
  <form action="submit">

    <label for="Your name"></label>
    <input type="text" name="name" placeholder="Your name" >

    <label for="Your email"></label>
    <input type="email" name="email" placeholder="Your email">

    <textarea name="message" id="" cols="30" rows="10" placeholder="Your message" ></textarea>
    <div>
      <button type="submit">Send message :)</button>
    </div>
    

  </form>
</div>
