<div class="background-shadow-green"></div>
<div class="skills">
  <div class="skill-description">
    <h2>My Skills</h2>
    <p>
      I have grown my frontend developments skills that have allowed me to
      create different real projects.
    </p>
  </div>
  <div class="skill-icons">
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/Angular.png" alt="" />
      <span>Angular</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/ts.png" alt="" />
      <span>Typescript</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/Javascript.png" alt="" />
      <span>JavaScript</span>
    </div>

    <div class="skill-img-container">
      <img src="../../assets/skills-photos//html.png" alt="" />
      <span>HTML</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos//firebase.png" alt="" />
      <span>Firebase</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/git.png" alt="" />
      <span>GIT</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/css.png" alt="" />
      <span>CSS</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/Frame.png" alt="" />
      <span>Material design</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/api.png" alt="" />
      <span>Rest-Api</span>
    </div>
    <div class="skill-img-container">
      <img src="../../assets/skills-photos/scrum.png" alt="" />
      <span>Scrum</span>
    </div>
  </div>
  <div class="center">
    <button>Get in touch</button>
  </div>
</div>
