<div class="background-shadow-green"></div>
<div class="skills">
  <div class="skill-description">
    <div class="skill-title">
      <h2>My Skills</h2>
      <div class="red-line-short"></div>
    </div> 
    <p>
      I have grown my frontend developments skills that have allowed me to
      create different real projects.
    </p>
    <div class="center desktop">
      <button>Get in touch</button>
    </div>
  </div>
  <div id="portfolio-route" class="skill-icons">
    <div class="skill-img-container" *ngFor="let skill of skills">
      <img [src]="skill.img" alt="" />
      <span>{{skill.name}}</span>
  </div>
  </div>
  <div class="center mobile">
    <button>Get in touch</button>
  </div>
</div>
