<div class="impressum-container">
    <h1>Imprint</h1>
    <p>www.vrebo.de</p>
    <h2>Responsible for the content (according to § 55 Abs. 2 RStV):</h2>
    <p>
        Abdulaziz Vrebo<br>
        Schlenkenstraße 6b<br>
        83395 Freilassing<br>
        Germany
    </p>
    <h2>Contact</h2>
    <p>Email: info@vrebo.de</p>
    <h2>Legal Information</h2>
    <p>www.vrebo.de is a personal website and does not represent the views or opinions of any organization.</p>
    <h2>Disclaimer</h2>
    <p>
        The information provided on this website is for general informational purposes only. While we strive to keep the information up to date and accurate, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.<br>
        In no event will we be liable for any loss or damage, including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.<br>
        Through this website, you can visit other websites that are not under the control of "vrebo.de". We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.
    </p>
    <h2>Copyright</h2>
    <p>
        All content, including text, images, and other media, on this website is the property of Abdulaziz Vrebo unless otherwise stated. Unauthorized use and/or duplication of this material without express and written permission from the website's owner is strictly prohibited.
    </p>
</div>

