<div id="header" class="intro">
    
    <div class="intro-container">
        <div class="intro-photo-container">
            
            <img class="profile-picture" src="../../assets/profil-photos/profil-test.png" alt="Profilbild">
            <img class="profile-picture-shadow" src="../../assets/shadows/green-orangeShadow.png" alt="">
        </div>
        
        <div class="background-image-container">
            
            <div class="text-container">
                <div class="rotate-text">I am</div>
                <div class="text-inner-container">
                    <span class="initials">Abdulaziz Vrebo</span>
                    <span class="profession">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <button class="talk-button">Let's talk</button>
        </div>
        
        
    </div>

    <div class="scroll-down">
        <span>Scroll down</span><img src="../../assets/header.png/arrow-down-line.png" alt="">
    </div>

    

    
</div>

<div id="about-me-route" class="social-media-icons">
    <!-- <img class="background-image" src="../../assets/profil-photos//bg-image-2.png" alt=""> -->
    <div class="background-image"></div>
    <div class="red-line">

    </div>
    <div class="only-icons">
        <img src="../../assets/social-media-icons/linkedin-mob.png" alt="">
        <img src="../../assets/social-media-icons/email-mob.png" alt="">
        <img src="../../assets/social-media-icons/github-mob.png" alt="">
    </div>
    
</div>