// Variablen
$main-color: #fa7902;
$secondary-color: #ff4747;
$default-font-size: 16px;
$default-margin: 32px;

.intro {
  margin-top: 70px;
  overflow: hidden;
  position: relative;
}


.bg-all {
  position: absolute;
  top: 300px;
  left: 0;

  .bg-image-2 {
    position: absolute;
    width: 100vw;
    left: 0;
    z-index: -2;

  }
  
  .photo-and-shadow {
    position: absolute;
    left: 156px;
    top: -189px;
    width: 500px;
    z-index: -3;
  }
  .profile-picture2 {
    width: 100%;
  }
  .profile-picture-shadow {
    width: 100%;
  }
}


.scroll-down {
  height: 24px;
  display: none;
  align-items: center;
  font-size: 24px;
  position: absolute;
  top: 600px;
  right: 0px;
  rotate: 90deg;
  img {
    margin-left: 16px;
    rotate: 270deg;
  }
}

.intro-photo-container {
  position: relative;
}

.profile-picture {
  width: 380px;
  position: relative;
  z-index: -2;
}



.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-inner-container {
  display: flex;
  flex-direction: column;
  margin-top: $default-margin;
  margin-bottom: $default-margin;

  .initials {
    font-size: 32px;
    font-weight: 700;
  }

  .profession {
    font-size: 20px;
    color: $secondary-color;
  }
}

.rotate-text {
  transform: rotate(-90deg);
  font-size: 28px;
}

.background-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -255px;

  button {
    padding: 15px 30px;
    border-radius: 10px;
    background: $main-color;
    color: white;
    border: none;
    font-size: $default-font-size;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    cursor: pointer;
    z-index: 1;
    transition: 225ms ease-in-out;

    &:hover {
      
      padding: 20px 40px;
      margin-top: 0;
      background-color: #ff4747;
    }
  }
}

.social-media-icons {
  margin-top: $default-margin;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 600px;
  margin-right: 114px;
  margin-bottom: 65px;

  .background-image {
    position: absolute;
    top: 268px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Hintergrundbild hinzufügen */
    background-image: url("../../assets/profil-photos/bg-image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.only-icons {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .mailTo {
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: none;
    padding: 5px;
    transition: 125ms ease-in-out;
    &:hover {
      color: #fa7902;
    }
  }
}

.red-line {
  border-top: 4px solid $secondary-color;
  width: 64px;
}

@media  (min-width: 280px){

  .intro {
    margin-top: 370px;
  }
  .bg-all {
    position: absolute;
    top: 310px;
    left: 0;
  
    .bg-image-2 {
      position: absolute;
      width: 100vw;
      left: 0;
      z-index: -2;
      top: 30px;
  
    }
    
    .photo-and-shadow {
      position: absolute;
      left: 20px;
      top: -189px;
      width: 250px;
      z-index: -3;
    }
    .profile-picture2 {
      width: 100%;
    }

    .profile-picture-shadow {
      position: absolute;
      left: 5px;
      top: 55px;
      z-index: -3;
      width: 100%;
    }
  }
  .background-image-container {
    margin-top: 0px;
    .text-container {
      .rotate-text {
        font-size: 22px;
      }
      .initials {
        font-size: 26px;
      }
      .profession {
        font-size: 17px;
      }
    }
  }
  
}
.social-media-icons {
  margin-top: 50px;
}

@media (min-width: 320px) {
  .bg-all {
    .photo-and-shadow {
      width: 290px;
    }
  }
}



/* Weitere Media Queries hier */


@media (min-width: 350px) {
  .bg-all {
    top: 330px;
    .bg-image-2 {
      top: 50px;
    }
    .photo-and-shadow {
      width: 300px;
    }
  }
  .intro {
    margin-top: 410px;
  }

  .social-media-icons {
    margin-top: 100px;
    .only-icons {
      margin-left: 32px;
    }
  }
  
}

@media (min-width: 390px){
  .bg-all {
    .bg-image-2 {
      top: 100px;
    }
    .photo-and-shadow {
      width: 360px;
    }
  }
  .intro {
    margin-top: 510px;
  }

  .social-media-icons {
    margin-top: 65px;
    .only-icons {
      margin-left: 52px;
    }
  }

  .background-image-container {
    .text-container {
      .rotate-text {
        font-size: 28px;
      }
      .initials {
        font-size: 34px;
      }
      .profession {
        font-size: 22px;
      }
    }
  }
  
}

@media (min-width: 410px) {
  .bg-all {
    
    .photo-and-shadow {
      width: 380px;
    }
  }
}

@media (min-width: 450px) {
  .bg-all {
    
    .photo-and-shadow {
      width: 390px;
    }
  }
}




/* Weitere Media Queries hier */

@media screen and (min-width: 768px) {
  .intro {
    margin-top: 170px;
  }

  .bg-all {
    .photo-and-shadow {
      width: 420px;
      left: 52px;
      .profile-picture-shadow {
        
        width: 135%;
        left: -108px;
        top: 100px;
    }
    }
  }
  .intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 44px;
    
    .background-image-container {
      button {
        font-size: 23px;
        margin-top: 30px;
        &:hover {
          margin-top: 20px;
        }
      }
    }
  }
  .social-media-icons {
    margin-top: 240px;
    .red-line {
      margin-left: -32px;
    }
    .only-icons {
      z-index: 1;
      img {
        transition: transform 125ms ease-in-out;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
  }

  .scroll-down {
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 24px;
    position: absolute;
    top: 560px;
    right: 0px;
    rotate: 90deg;
    img {
      margin-left: 16px;
    }
  }
}

/* Weitere Media Queries hier */


@media screen and (min-width: 968px) {

  .text-container {
    margin-right: 32px;
  }
  .scroll-down {
    height: 24px;
    display: flex;
    align-items: center;
    font-size: 24px;
    position: absolute;
    top: 560px;
    right: 0px;
    rotate: 90deg;
    img {
      margin-left: 16px;
    }
  }
}




@media (min-width: 1100px) {
  .bg-all {
    .photo-and-shadow {
      width: 450px;
    }
  }
  .background-image-container {
    .text-container {
      .rotate-text {
        font-size: 48px;
      }
      .initials {
        font-size: 64px;
      }
      .profession {
        font-size: 42px;
      }
    }
  }
}








/* Weitere Media Queries hier */

@media screen and (min-width: 1366px) {
  .bg-all {
    .bg-image-2 {
      top: 110px;
    }
    .photo-and-shadow {
      width: 500px;
      left: 52px;
    }
  }
  .scroll-down {
    top: 600px;
  }
  .intro {
    margin-top: 220px;
  }
  .profile-picture {
    width: 480px;
  }
  
  .social-media-icons {
    margin-top: 200px;
    
    .background-image {
      background-position: unset;
      top: 400px;
    }
    .only-icons {
      width: 380px; 
      .mailTo {
        display: flex; 
      }
    }
  }
  .text-inner-container {
    .initials {
      font-size: 80px;
      font-weight: 700;
    }
    .profession {
      font-size: 48px;
      color: $secondary-color;
    }
  }
  .rotate-text {
    font-size: 48px;
  }
}


@media screen and (min-width: 1440px) {
  .intro {
    margin-top: 380px;
  }
  .bg-all {
    top: 400px;
    .bg-image-2 {
      top: 215px;
    }
    .photo-and-shadow {
      width: 600px;
    left: 142px;
    }
  }
  .social-media-icons {
    margin-top: 280px;
    .red-line {
      width: 150px;
      margin-left: -64px;
    }
    .background-image {
      background-position: unset;
    }
  }
  .text-inner-container {
    .initials {
      font-size: 80px;
      font-weight: 700;
    }
    .profession {
      font-size: 48px;
      color: $secondary-color;
    }
  }
  .rotate-text {
    font-size: 48px;
  }
  .scroll-down {
    top: 800px;
  }
}

@media screen and (min-width: 1600px) {
  .bg-all {
    
    
    .photo-and-shadow {
      width: 700px;
    }
  }
  

}

@media screen and (min-width: 2086px) {
  .bg-all {
    top: 455px;
    .bg-image-2 {
      top: 310px;
    }
    .photo-and-shadow {
      width: 780px;
    }
  }
  .scroll-down {
    top: 1000px;
    font-size: 33px;
  }
  .social-media-icons {
    margin-top: 500px;
    margin-bottom: 85px;
  }
}

@media (min-width: 2500px) {
  .intro-container {
    .background-image-container {
      button {
        font-size: 36px;
      }
      .text-container {
        .rotate-text {
          font-size: 68px;
        }
        .text-inner-container {
          .initials {
            font-size: 90px;
          }
          .profession {
            font-size: 60px;
          }
        }
      }
    }
  }
  
  
  .bg-all {
    
    .photo-and-shadow {
      width: 870px;
      left: 235;
    }
  }
  .social-media-icons {
    .only-icons{
      
      img {
        width: 50px;
        height: 50px;
      }
    }
  }
}

@media screen and (min-width: 3000px) {
  .intro {
    margin-top: 500px;
  }
  .bg-all {
    top: 455px;
    .bg-image-2 {
      top: 500px;
    }
    .photo-and-shadow {
      width: 1200px;
    }
  }
  .scroll-down {
    top: 1400px;
    font-size: 33px;
  }
  .social-media-icons {
    margin-top: 800px;
    margin-bottom: 85px;
  }
}





