
<div class="bg-all">
    <img class="bg-image-2" src="../../assets/profil-photos/bg-image-2.png" alt="">
    <div class="photo-and-shadow">
        <img class="profile-picture2" src="../../assets/profil-photos/big-final-photo.png" alt="Profilbild">
        <img class="profile-picture-shadow" src="../../assets/shadows/green-orangeShadow.png" alt=""> 
    </div>
    
</div>
<div id="header" class="intro">
    
    <div class="intro-container">
        <div class="intro-photo-container">

        </div>
        <div class="background-image-container">
            
            <div class="text-container">
                <div class="rotate-text">I am</div>
                <div class="text-inner-container">
                    <span class="initials">Abdulaziz Vrebo</span>
                    <span class="profession">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <button class="talk-button" (click)="scrollToContact()">Let's talk</button>
        </div>
        
        
    </div>

    

    

    
</div>
<div class="scroll-down">
    <span>Scroll down</span><img src="../../assets/header.png/arrow-down-line.png" alt="">
</div>

<div id="about-me-route" class="social-media-icons">
    <!-- <img class="background-image" src="../../assets/profil-photos//bg-image-2.png" alt=""> -->
    <!-- <div class="background-image"></div> -->
    <div class="red-line">

    </div>
    <div class="only-icons">
        <a href="https://www.linkedin.com/in/abdulaziz-vrebo-65428b283/" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/social-media-icons/linkedin-desktop.png" alt="LinkedIn">
        </a>
        <a href="mailto:info@vrebo.de">
            <img src="../../assets/social-media-icons/email-desktop.png" alt="E-Mail">
        </a>
        <a href="https://github.com/VreBoz" target="_blank" rel="noopener noreferrer">
            <img src="../../assets/social-media-icons/github-desktop.png" alt="Github">
        </a>
        <a class="d-none mailTo" href="mailto:info@vrebo.de">info@vrebo.de</a>
    </div>
    
</div>