<div id="portfolio-route"></div>
<div class="background-shadow-laptop">
    <img  src="../../assets/shadows/shado4.png" alt="">
</div>
<div class="portfolio">
    <div class="portfolio-info">
        <div class="red-line-left"></div>
        <h2>Portfolio</h2>
        <div class="red-line-right"></div>  
    </div>
    
    <p>This page is a sample of my work! scroll down to view other projects I have develped.</p>
    <div data-aos="flip-right" *ngFor="let project of projects; let i = index" class="project" [ngClass]="{ 'reverse': i % 2 !== 0 }">
        <img [src]="project.imgSrc" alt="" class="project-image">
        <div class="project-detail">
            <h3>{{ project.title }}</h3><br>
            <span>{{ project.technologies }}</span>
            <p>{{ project.description }}</p>
            <div class="test-buttons">
                <button class="live-btn" (click)="openLink(project.link)">Live test</button>
                <button class="github-btn" (click)="openLink(project.github)">Github</button>
            </div>
        </div>
    </div>
    
</div>